<app-precario-layout [title]="title" [type]="type" [portfolioLink]="portfolioLink">

  <table class="pricing-table">
    <tbody>

    <!--Pack Mirra-->
    <tr>
      <td>
        <div class="package-name">Pack Mirra</div>
        <div class="package-description">
          <br>
          <li> 1 cenário; </li>
          <li> 10 fotos digitais editadas; </li>
          <li> Galeria para download das fotos (com tempo limitado); </li>
          <li> 3 fotos 10 x 15; </li>
          <li> 1 Íman Personalizado </li>
        </div>
      </td>
      <td class="package-price">65€</td>
    </tr>

    <!--Pack Incenso-->
    <tr>
      <td>
        <div class="package-name">Pack Incenso</div>
        <div class="package-description">
          <br>
          <li> 1 Cenário; </li>
          <li> Styling Incluído; </li>
          <li> 15 fotos digitais editadas; </li>
          <li> Galeria para download das fotos (com tempo limitado); </li>
          <li> 4 fotos 10 x 15; </li>
          <li> 1 foto 15 x 20; </li>
          <li> 1 Mealheiro Personalizado</li>
        </div>
      </td>
      <td class="package-price">80€</td>
    </tr>

    <!--Pack Ouro-->
    <tr>
      <td>
        <div class="package-name">Pack Ouro</div>
        <div class="package-description">
          <br>
          <li> 2 cenários; </li>
          <li> 25 fotos digitais editadas; </li>
          <li> Galeria para download das fotos (com tempo limitado); </li>
          <li> 2 fotos 10 x 15; </li>
          <li> 2 fotos 15 x 20; </li>
          <li> 1 Caixa Personalizada (Chocolates e Garrafinha de Licor Beirão) </li>
        </div>
      </td>
      <td class="package-price">95€</td>
    </tr>

    </tbody>
  </table>

</app-precario-layout>
