<app-precario-layout [title]="title" [type]="type" [portfolioLink]="portfolioLink">

  <table class="pricing-table">
    <tbody>
    <!--Pack Bronze-->
    <tr>
      <td>
        <div class="package-name">Pack Bronze</div>
        <div class="package-description">
          <br>
          <li> Styling Incluído (devidamente desinfetado); </li>
          <li> Galeria para download das fotos (com tempo limitado); </li>
          <li> 4 fotos 10 x 15 </li>
        </div>
      </td>
      <td class="package-price">60€</td>
    </tr>

    <!--Pack Prata-->
    <tr>
      <td>
        <div class="package-name">Pack Prata</div>
        <div class="package-description">
          <br>
          <li> Styling Incluído (devidamente desinfetado); </li>
          <li> Galeria para download das fotos (com tempo limitado); </li>
          <li> Poster 60 x 40; </li>
          <li> 2 fotos 15 x 20 </li>
        </div>
      </td>
      <td class="package-price">80€</td>
    </tr>

    <!--Pack Ouro-->
    <tr>
      <td>
        <div class="package-name">Pack Ouro</div>
        <div class="package-description">
          <br>
          <li> Styling Incluído (devidamente desinfetado); </li>
          <li> Galeria para download das fotos (com tempo limitado); </li>
          <li> Smash the Cake (1º ano) <u>ou</u> Poster 60 x 40 (Recém-Nascido); </li>
          <li> Book 23 x 31 de 26 páginas </li>
        </div>
      </td>
      <td class="package-price">100€</td>
    </tr>

    </tbody>
  </table>

</app-precario-layout>
