<app-precario-layout [title]="title" [type]="type" [portfolioLink]="portfolioLink">

  <table class="pricing-table">
    <tbody>

    <!--Pack Único-->
    <tr>
      <td>
        <div class="package-name">Pack Único</div>
        <div class="package-description">
          <br>
          <li> Galeria para download das fotos (com tempo limitado); </li>
          <li> 4 fotos 10 x 15 </li>
        </div>
      </td>
      <td class="package-price">75€</td>
    </tr>

    </tbody>
  </table>

</app-precario-layout>
