<app-precario-layout [title]="title" [subtitle]="subtitle" [type]="type" [portfolioLink]="portfolioLink">

  <table class="pricing-table">
    <tbody>
      <tr>
        <td>
          <div class="package-name">Preparação dos Noivos</div>
          <div class="package-description">
            <br> Momento emocionante onde o casal se prepara
            individualmente para o grande dia.
            <br> Captura a antecipação, nervosismo e alegria durante a
            preparação. <br>
          </div>
        </td>
        <td class="package-price">60€</td>
      </tr>

      <tr>
        <td>
          <div class="package-name">Cerimónia</div>
          <div class="package-description">
            <br> Ponto culminante do casamento, com troca de
            votos e promessas diante de amigos e familiares.
            <br> Captura a entrada da noiva, os votos, e o beijo final. <br>
          </div>
        </td>
        <td class="package-price">150€</td>
      </tr>

      <tr>
        <td>
          <div class="package-name">Sessão de Noivos</div>
          <div class="package-description">
            <br> Tempo reservado para celebrar a união e capturar
            fotos românticas juntos em locais especiais. <br>
          </div>
        </td>
        <td class="package-price">50€</td>
      </tr>

      <tr>
        <td>
          <div class="package-name">Sessão com Convidados</div>
          <div class="package-description">
            <br>  Captura a essência da celebração junto dos
            convidados, havendo fotos dos noivos com os convidados.
            <br> Esta sessão abrange momentos de
            felicitações, alegria compartilhada e interações
            familiares, garantindo lembranças com todos os
            presentes.<br>
          </div>
        </td>
        <td class="package-price">150€</td>
      </tr>

      <tr>
        <td>
          <div class="package-name">Pós-Cerimónia</div>
          <div class="package-description">
            <br> Registo dos momentos que se seguem à cerimónia,
            focando-se nas celebrações e reações posteriores.
            <br>Inclui sessões fotográficas especiais, além de
            capturar a decoração e o ambiente festivo.<br>
          </div>
        </td>
        <td class="package-price">250€</td>
      </tr>
    </tbody>
  </table>

</app-precario-layout>
