<app-precario-layout [title]="title" [subtitle]="subtitle" [type]="type" [portfolioLinks]="links" >

  <table class="pricing-table">
    <tbody>

    <!--Sessão de Preparação-->
    <tr>
      <td>
        <div class="package-name">Sessão de Preparação</div>
        <div class="package-description">
          <br> Momento íntimo e especial antes da cerimónia,
          capturando os detalhes e a emoção do(a)
          homenageado(a) enquanto se veste e prepara.
          Inclui fotos da roupa, acessórios e momentos de
          interação com os familiares mais próximos. <br>
        </div>
      </td>
      <td class="package-price">40€</td>
    </tr>

    <!--Cerimónia-->
    <tr>
      <td>
        <div class="package-name">Cerimónia</div>
        <div class="package-description">
          <br> Cobertura fotográfica completa da cerimónia,
          registando desde a chegada dos convidados e do(a)
          homenageado(a) até aos momentos mais
          significativos. Foco nos detalhes simbólicos,
          expressões autênticas e interações emocionantes. <br>
        </div>
      </td>
      <td class="package-price">70€</td>
    </tr>

    <!--Sessão com Convidados-->
    <tr>
      <td>
        <div class="package-name">Sessão com Convidados</div>
        <div class="package-description">
          <br> Captura a essência da celebração junto dos
          convidados, podendo haver fotos do(a)
          homenageado(a) com os convidados. Esta sessão
          abrange momentos de felicitações, alegria
          compartilhada e interações familiares, garantindo
          lembranças com todos os presentes.<br>
        </div>
      </td>
      <td class="package-price">100€</td>
    </tr>

    <!--Pós-Cerimónia-->
    <tr>
      <td>
        <div class="package-name">Pós-Cerimónia</div>
        <div class="package-description">
          <br> Registo dos momentos que se seguem à cerimónia,
          focando-se nas celebrações e reações posteriores.
          Inclui sessões fotográficas especiais, além de
          capturar a decoração e o ambiente festivo.<br>
        </div>
      </td>
      <td class="package-price">100€</td>
    </tr>
    </tbody>
  </table>

</app-precario-layout>
